footer {
	background-color: #ccc;
	min-height: 50px;
	position: relative;
	bottom: 0px;
	width: 100%;
	overflow: visible;
	z-index: 99;
	padding: 4px 0;
}

footer p {
	margin: 0;
}

/*footer .flex-vert {
	display: flex;
	align-items: center;
}
*/
footer .copyright {
	color: #888;
}

.row > div {
	padding-left: 0;
}


/*
footer:before {
	content: "";
	position: fixed;
	top: -5%;
	left: -5%;
	right: -5%;
	bottom: -5%;
	z-index: -1;

	display: block;
	background-image: url(images/footer-bg.jpg);
	background-size: cover;
	width: 110%;
	height: 110%;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

footer {
	overflow: auto;
	position: relative;
	min-height: 50px;
}

.transparent {
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 5px gray;
}
*/