.list-entry{
    margin: 10px 0px 10px 0px;
    height: 15vh;
    border: 2px solid lightgray;
    font-size: 1.6vmin;
}

.list-entry:hover{
    border: 2px solid black; 
    .short-info{
        
    }
}

.list-entry .col-3, .col-2{
    height: 100%;
    padding: 0;
}

.list-entry img{
    width: 100%;
    height: 100%;
}

.list-entry .list-entry-info-section{
    height: 100%;
}

.list-entry .list-entry-prim-info{
    height: 25%;
}

.list-entry .list-entry-sec-info{
    height: 25%;
}

.list-entry .list-entry-short-info{
    overflow: hidden;
    height: 50%;
}

.list-entry .list-entry-info-section{
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-entry .list-entry-img-section{
    border-right: 2px solid lightgray;
}

.list-entry .short-info{
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

@media (max-width: 768px){
    .list-entry p{
        font-size: 2vmax;
    }
}

