.list-entry{
    margin: 10px 0px 10px 0px;
    height: 140px;
    border: 2px solid lightgray;
}

.list-entry:hover{
   border: 2px solid black; 
}

.list-entry .col-3{
    height: 100%;
    padding: 0;
}

.list-entry img{
    width: 100%;
    height: 100%;
}

.list-entry .list-entry-info-section{
    height: 100%;
}

.list-entry-prim-info{
    height: 25%;
}

.list-entry-sec-info{
    height: 25%;
}

.list-entry-short-info{
    overflow: hidden;
    height: 50%;
}

.list-entry-info-section{
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-entry-img-section{
    border-right: 2px solid lightgray;
}

.short-info{
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

