.background{
    background-image: url('images/list-search-bg.png');
    background-repeat: repeat-y repeat-x;
    padding-bottom: 15px;
    min-height:45vh;
    padding-left: 1px;
    padding-right: 1px;
}

.list-entry{
    margin: 10px 0px 10px 0px;
    height: 18vmin;
    font-size: 1.6vmin;
    color:#666666;
}

.row-sort{
    width: 100%;
    margin: 0 !important;
    padding: 20px 0px 10px 0px;
}

.col-sort{
    padding: 0;
    height: 100%;
}

.form-group{
    margin-bottom: 0 !important;
}

.list-entry:hover .list-entry-info-section {
    border: 2px solid black;
    border-left: none;
}

.list-entry:hover .list-entry-img-section {
    border: 2px solid black;
    border-right: none;
}

.list-entry .col-3, .col-2, .list-entry-img-section{
    height: 100%;
    padding: 0;
}

.list-entry img{
    width: 100%;
    height: 100%;
}

.list-entry .list-entry-info-section{
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid lightgray;
    border-left: none;
    background-color: white;
}

.list-entry .list-entry-prim-info{
    height: 25%;
}

.list-entry .list-entry-prim-info p{
    font-weight: bold;
    color:#014C8C;
}

.list-entry .list-entry-sec-info{
    height: 25%;
}

.list-entry .list-entry-short-info{
    overflow: hidden;
    height: 50%;
}

.list-entry .list-entry-img-section{
    border: 2px solid lightgray;
    border-right: none;
}

.list-entry .short-info{
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

.google-map:hover{
    cursor: pointer;
}

.google-map p:after {
    content: url('../images/map.png');
    margin-left: 2px;
}

.google-map-b:hover{
    cursor: pointer;
}

/*.google-map-b:after {
    content: url('../images/map-many.png');
    margin-left: 2px;
}*/


.short-info:before{
    content: url('../images/door.png');
    margin-right: 2px;
}

.faded{
    opacity: 0;
    color: black;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.infaded{
    opacity: 1;
    color: #666666 !important;
}

.prev-obj{
    /*background-color: #D9D4D0;*/
}


@media (max-width: 768px){
    .list-entry p{
        font-size: 1.7vmax;
    }

    .row-sort{
        margin: 10px 0px 30px 0px;
    }

    .list-entry{
        height: 15vmax;
    }

}

@media (max-width: 480px){
    .list-entry p{
        font-size: 2vmax;
        /*color:red;*/
    }
}

