p{
    font-size: 2.3vh;
}

.row-one {
    background-size: cover;
    background-position:center center;
    /*display: inline-block;*/
    height: 100%;
}

.long-info{
    /*line-height: 1.4;*/
}

.long-info:first-line{
    font-weight:bolder;
}

.basic-info{
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
}

.object-detailed .col-4{
    padding-right: 0px;
    padding-left: 0px;
}

.object-title{
    font-family: inherit;
}

.row-two .col-12 img{
    width: 100%;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
}

.row-four .col-6 img{
    width: 100%;
}

.row-four{
    height: 70vh;
}

.row-four .col-md-5, .col-12{
    /*overflow: auto;*/
}

.row-four .col-md-5{
    height: 100%;
}

.col-long-info{
    padding: 25px;
    padding-left: 20%;
    padding-right: 20%;
}

.card-object-detailed{
    height: 100% !important;
}

.card-block-object-detailed{
   overflow: hidden;
}

/*.card-block-content-x{
    position: absolute;
    bottom: 30%;
}*/

.card-object-detailed-p{
    color: rgb(93, 197, 166);
}

.card-object-detailed-p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card-object-detailed-read-more{
    min-height: 50%;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    padding-bottom: 5px;
}

.card-object-detailed-read-more:first-line{
    font-weight: bolder;
}

#googleMap{
    width: 100%;
    height: 100%;
}

.panel{
    margin-left: 10px;
}

@media (max-width: 767px){
    
    #googleMap{
       width: 100%;
       height: 300px;
    }
    
    .row{
        font-size: 2vmax; 
    }

    h2{
        font-size: 2.7vmax!important;
    }

    .basic-info{
        width: 100%;
        padding-bottom: 0px ! important;
    }


    .row-four{
        height: auto;
    }

    .row-four .col-12{
        margin-bottom: 5px;
    }

    .row{
        margin-bottom: 5px;
    }


    .basic-info{
        background: rgba(135, 208, 186);
        position: relative;
        font-size: 2.3vh;
    }

    .row .row-one .col-12{
        display: block;
        width: 100%;
    }  

    .row-two .col-12 img{
        padding-left: 0%;
        padding-right: 0%;
    }

    .mobile-hidden{
        display: none;
    }

    .main-image > img{
        width: 100%;
        height: auto;
    } 

    .col-long-info{
        padding-left: 15px;
        padding-right: 15px;
    }

    .panel{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (min-width: 768px){

    .desktop-hidden{
        display: none;
    }

}

