.search-card {
	border: none;
	background-color: inherit;
}

button > p {
    margin: 0;
    display: inline;
}

button{
	width: 100%;
}

.button-card {
	padding-top: 0;
}

.dropdown-item {
	cursor:pointer;
}

.background{
	background-color: rgba(135, 208, 186);
}