.dropdown-toggle{
    margin-bottom: 5px;
}

.custom-lg-padding {
    margin-top: 15px;
    margin-bottom: 15px;
}

.type-filter{
   margin-bottom: 5px;
   width: 98%;
}

.search-card {
    border: none;
    background-color: inherit;
}

button{
    width: 100%;
}

.button-card {
    padding-top: 0;
}

.dropdown-item {
    cursor:pointer;
}

.img-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-icon.villa {       background-image: url('icons/villa.png'); }
.img-icon.bostadsratt { background-image: url('icons/bostadsratt.png'); }
.img-icon.hyresratt {   background-image: url('icons/hyresratt.png'); }

@media (max-width: 991px) {
    .row.extra-pad-on-small {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 576px) {
    .col-6.no-pad-above-small:first-child {
        padding-right: 0px;
    }
    .col-6.no-pad-above-small:last-child {
        padding-left: 0px;
    }
}
@media (min-width: 992px) {
    .col-6.no-pad-above-small:first-child {
        padding-left: 0px;
    }
    .col-6.no-pad-above-small:last-child {
        padding-right: 0px;
    }

	.custom-lg-padding {
		padding-right: 0px;
	}
}