.jumbotron {
    background: url("images/lite-1.jpg") no-repeat center center;
    padding: 124px 0;
    background-size: cover;
}

.article{
    padding-bottom: 32px;
}

small{
	color: white !important; 
}

.btn-default{
	background-color: white;
}

.h4-shadow {
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}

.card-margin-bottom {
    margin-bottom: 40px;
}

.p-white {
    color: white;
}

button p {
    margin: 0;
}

@media (max-width: 576px) {
    .jumbotron {
        padding: 62px 0;
    }
}

.jumbotron h2{
    font-size: 3.5rem;
}