.jumbotron {
    background: url("images/lite-1.jpg") no-repeat center center;
    padding: 124px 0;
    background-size: cover;
}

.article{
    padding-bottom: 32px;
}

.jumbotron h4 {
text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}