.jumbotron {
    background: url("images/lite-1.jpg") no-repeat center center;
    padding: 124px 0;
    background-size: cover;
}

.article{
    padding-bottom: 32px;
}


small{
	color: white !important; 
}
h4{
	color: white;
}
.btn-default{
	background-color: white;
}