.jumbotron {
    background: url("images/lite-2.jpg") no-repeat center center;
    background-size: cover;
    height: 700px;
    margin-bottom: 0px;
}
.startpage-pic{
	padding-right: 0;
	padding-left: 0;

}
