.startpic{
    background: url("images/startpage.jpg") no-repeat center fixed;
    min-height: 70vh;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
}

.jumbotron {
    background: url("images/lite-2.jpg") no-repeat center center;
    background-size: cover;
    height: 700px;
    margin-bottom: 0px;
}

.button{
    color: white;
    text-align: center;
}
