<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="hidden-sm-down vertical-spacer-60"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-9">
                <div class="card bg-trans p-white">
                    <div class="card-block">
                        <h2 class="card-title">Vi är din personliga mäklare</h2>
                        <p class="card-text">På Bülow & Lind vet vi vad som är viktigast för dig när du är i färd med att göra en av livets viktigaste affärer - köpa eller sälja bostad.</p>
                        <p class="card-text">Därför är det självklart för oss att alltid sträva efter hög kvalitet på alla våra tjänster. Lika självklart är det att vi känner marknaden och de lokala förutsättningarna utan och innan. För även om vi är marknadsledande ligger vår största styrka i närheten till dig som kund. Hos oss hittar du din egen personliga mäklare i Skåne – och du är i trygga händer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hidden-sm-down vertical-spacer-60"></div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Våra mäklare</h2>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4" *ngFor="let broker of brokers">
            <div class="card card-margin-bottom">
                <img class="card-img-top img-fluid" src="/images/brokers/{{broker.image}}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{broker.name}}</h4>
                    <p class="card-text">{{broker.shortInfo}}</p>
                    <p class="card-text"><small>{{broker.tel}}</small></p>
                    <a href="mailto:{{broker.epost}}"><small>{{broker.epost}}</small></a>  
                </div>
            </div>
        </div>
    </div>
</div>