<footer class="container-fluid bg-light-grey">
    <div class="row text-center">
        <div class="col-6 col-sm-4">
            <p>Kontor: +46 (0)40 26 81 15</p>
            <p>Mobil: +46 (0)709 51 81 60</p>
        </div>
        <div class="col-6 col-sm-4">
            <a href="mailto:contact@dhyrrumson.se?Subject=Generic%20inquiry" target="_top"><p>contact@dhyrrumson.se</p></a>
            <p>© 2017 Dhyr & Rumson AB</p>
        </div>
        <div class="hidden-sm-down col-sm-4">
        	<p class="d-block">Malmövägen 123</p>
        	<p>112 99 Malmö</p>
        </div>
    </div>
</footer>