<div class="container header">
    <div class="row text-center">
        <div class="col-12">
            <h1><a routerLink="/">Dhyr & Rumson</a></h1><!-->#ROUTING<-->
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <a routerLink="/buy"><h2>Köpa</h2></a>
        </div>
        <div class="col">
            <a routerLink="/sell"><h2>Sälja</h2></a>
        </div>
        <div class="col">
            <a routerLink="/about"><h2>Om oss</h2></a>
        </div>

    </div>
</div>
