    <div class="row row-sort">
        <div class="col-sm-4 offset-sm-7 col-md-2 offset-md-8">
            <div class="form-group">
                <!--label for="sel1">Sortera efter:</label-->
                <select class="form-control" (change)="dropDownSortValueChanged($event)">
                    <option value="dateAdded">Datum</option>
                    <option value="price">Billigast först</option>
                    <option value="-price">Dyrast först</option>
                    <option value="area">Störst först</option>
                    <option value="-area">Minst först</option>
                    <option value="rooms">Rum, flest först</option>
                    <option value="-rooms">Rum, minst först</option>
                </select>

            </div>
        </div>
    </div>

    <div class="row list-entry" *ngFor="let object of objects"
         (click)="showDetailedView(object)" (mouseover)="over(object)" (mouseleave)="leave()"><!-->#ROUTING_DETAILED<-->

         <div class="col-4 col-sm-2 offset-md-2 list-entry-img-section">
            <img class="img-fluid" src="images/estate/{{object.objectnr}}/main.jpg">
        </div>

        <div class="col-10 col-sm-10 col-md-6 hidden-sm-down list-entry-info-section" [class.prev-obj]="equals(localMem.selectedObject,object)">
            <div class="row list-entry-prim-info" >
                <div class="col-4">
                    <p >{{object.price}} kr</p>
                </div>
                <div class="col-4 google-map" *ngIf="object">
                    <p (click)="showGoogleMapInModal(object,$event)">{{object.district}}</p>
                </div>
                <div class="col-4">
                    <!--p>{{object.area}} m&#178; / {{object.rooms}} rum</p-->
                    <p [innerHTML]="object.area | special_a:object.rooms"></p>
                </div>
            </div>

            <div class="row list-entry-sec-info">
                <div class="col-4">
                    <p *ngIf="object.hyra != 0">{{object.hyra}} kr/mån</p>
                </div>
                <div class="col-4" >
                    <p class="google-map-b" (click)="showAllObjectsOnMap(selectedHoverObject == object,object,$event)">{{object.street}}</p>
                </div>
                <div class="col-4 faded" [class.infaded]="selectedHoverObject == object">
                     <p *ngIf="selectedHoverObject == object">{{selectedHoverObject.dateAdded | cutdate}}</p><!-->#PIPE ANGULAR<-->
                </div>
            </div>

            <div class="row list-entry-short-info">
                <div class="col-11">
                    <p class="short-info">{{object.shortInfo}}</p>
                </div>

            </div>

        </div>

        <!-->MOBILE VIEW<-->

        <div class="col-8 hidden-md-up list-entry-info-section" [class.prev-obj]="equals(localMem.selectedObject,object)">
            <div class="row list-entry-prim-info">
                <div class="col-6">
                    <p>{{object.price}} kr</p>
                </div>
                <div class="col-6">
                    <p>{{object.rooms}} rum</p>
                </div>
            </div>

            <div class="row list-entry-sec-info">
                <div class="col-6">
                    <p *ngIf="object.hyra != 0">{{object.hyra}} kr/mån</p>
                    <p *ngIf="object.hyra == 0">-</p>
                </div>
                <div class="col-6">
                    <p [innerHTML]="(object.area | kvadratM)"></p>
                </div>
            </div>

            <div class="row list-entry-sec-info">
                <div class="col-12">
                    <p>{{object.district}}</p>
                </div>
            </div>

            <div class="row list-entry-sec-info">
                <div class="col-12">
                    <p>{{object.town}}, {{object.street}}</p>
                </div>
            </div>


        </div>



    </div>
