<div class="container-fluid">

    <!--div class="row list-entry"  *ngFor="let object of objects"
         (click)="showDetailedView(object)" (mouseover)="over(object)" (mouseleave)="leave()"--><!-->#ROUTING_DETAILED<-->
         
    <div class="row list-entry"  *ngFor="let object of objects"
         (click)="showModal()" (mouseover)="over(object)" (mouseleave)="leave()">

         <div class="col-3 col-sm-2 offset-md-2 list-entry-img-section">
            <img src="images/estate/{{object.objectnr}}/main.jpg">
        </div>

        <div class="col-10 col-sm-10 col-md-6 hidden-sm-down list-entry-info-section" [class.prev-obj]="equals(localMem.selectedObject,object)">
            <div class="row list-entry-prim-info" >
                <div class="col-4">
                    <p >{{object.price}} kr</p>
                </div>
                <div class="col-4">
                    <p>{{object.district}}</p>
                </div> 
                <div class="col-4">
                    <p>{{object.area}} m&#178; / {{object.rooms}} rum</p>
                </div> 
            </div>

            <div class="row list-entry-sec-info">
                <div class="col-4">
                    <p *ngIf="object.hyra != 0">{{object.hyra}} kr/mån</p>
                </div>
                <div class="col-4">
                    <p>{{object.street}}</p>
                </div>
                <div class="col-4 faded" [class.infaded]="selectedHoverObject == object">
                     <p *ngIf="selectedHoverObject == object">{{selectedHoverObject.dateAdded | cutdate}}</p><!-->#PIPE ANGULAR<-->
                </div> 
            </div>

            <div class="row list-entry-short-info">
                <div class="col-11">
                    <p class="short-info">{{object.shortInfo}}</p>
                </div>

            </div>

        </div>

        <!-->MOBILE VIEW<-->

        <div class="col-9 hidden-md-up list-entry-info-section" [class.prev-obj]="equals(localMem.selectedObject,object)">
            <div class="row list-entry-prim-info">
                <div class="col-6">
                    <p>{{object.price}} kr</p>
                </div>
                <div class="col-6">
                    <p>{{object.rooms}} rum</p>
                </div> 
            </div>

            <div class="row list-entry-sec-info">
                <div class="col-6">
                    <p>{{object.hyra}} kr/mån</p>
                </div>
                <div class="col-6">
                    <p>{{object.area}} m&#178;</p>
                </div>                  
            </div>

            <div class="row list-entry-sec-info">
                <div class="col-12">
                    <p>{{object.district}}</p>
                </div>    
            </div>

            <div class="row list-entry-sec-info">
                <div class="col-12">
                    <p>{{object.town}}, {{object.street}}</p>
                </div>    
            </div>


        </div> 



    </div>

</div>
