<input type="button" (click)="getFastigheter()" style="margin-left: 20px" value="SHOW">

<div class="container-fluid">

    <div class="row list-entry"  *ngFor="let object of objects">

         <div class="col-2 offset-2 list-entry-img-section">
            <!--p>{{object.zip}}</p-->
            <img src="images/estate/{{object.objectnr}}/{{object.objectnr}}_main.jpg">
        </div>

        <div class="col-6 list-entry-info-section">
            <div class="row list-entry-prim-info">
                <div class="col-4">
                    <p>{{object.price}} kr</p>
                </div>
                <div class="col-4">
                    <p>{{object.district}}</p>
                </div> 
                <div class="col-4">
                    <p>{{object.area}} m&#178; / {{object.rooms}} rum</p>
                </div> 
            </div>

            <div class="row list-entry-sec-info">
                <div class="col-4">
                    <p>{{object.hyra}} kr/mån</p>
                </div>
                <div class="col-4">
                    <p>{{object.street}}</p>
                </div>                  
            </div>
            
            <div class="row list-entry-short-info">
                <div class="col-11">
                    <p class="short-info">{{object.shortInfo}}</p>
                </div>
                             
            </div>

        </div>

    </div>

</div>