<!-->#ROUTING_DETAILED<-->

<div class="container-fluid object-detailed" *ngIf="object">

    <!--<div class="row main-image desktop-hidden"[style.background-image]="bgImg(object)">
    </div>-->
    <div class="row desktop-hidden">
        <div class="main-image">
            <img src="images/estate/{{object.objectnr}}/main.jpg">
        </div>
        <div class="col-12 basic-info">
                
                <div class="panel">
                    <h2 class="object-title">{{object.street}}</h2>
                    <p>{{object.shortInfo}}</p>
                    <p>Pris: {{object.price}}</p>
                    <p *ngIf="object.hyra > 0">Månadsavgift: {{object.hyra}} kr/mån</p>
                    <p>Antal rum: {{object.rooms}}</p>
                    <p>Boarea: {{object.area}} m&#178;</p>
                </div>
        </div>

    </div>

    <div class="row row-one"[style.background-image]="bgImg(object)">

        <div class="col-md-4 col-12 basic-info mobile-hidden">
            <div class="panel">
                <h2 class="object-title">{{object.street}}</h2>
                <p>{{object.shortInfo}}</p>
                <p>Pris: {{object.price}}</p>
                <p *ngIf="object.hyra > 0">Månadsavgift: {{object.hyra}} kr/mån</p>
                <p>Antal rum: {{object.rooms}}</p>
                <p [innerHTML]="'Boarea:' + (object.area | kvadratM)"></p>
            </div>
        </div>
    </div>

    <div class="row row-two" *ngFor="let image of objectImages">
         <div class="col-12">
            <img *ngIf="image !== 'main.jpg'" [hidden]="!loadedImages[image]" (load)="registerLoadedImage(image)" src="images/estate/{{object.objectnr}}/{{image}}">
        </div>
    </div>

    <div class="row row-three">
        <div class="col-12 col-long-info" *ngIf="object.longInfo">
            <h2>Objektbeskrivning</h2>
            <p>{{object.longInfo}}</p>
        </div>
    </div>

    <div class="row row-four">
        <div class="offset-md-1 col-md-5 col-10 col-broker" *ngIf="broker">
            <div class="card card-margin-bottom">
                <img class="card-img-top img-fluid" src="/images/brokers/{{broker.image}}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{broker.name}}</h4>
                    <p class="card-text">{{broker.shortInfo}}</p>
                    <p class="card-text"><small>{{broker.tel}}</small></p>
                    <a href="mailto:{{broker.epost}}"><small>{{broker.epost}}</small></a>  
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 col-map">
            {{showGoogleMap()}}
            <div id="googleMap"></div>
        </div>

    </div>

    <br><br>
    
    <div class="row row-five">
        <div class="col-12">
            <!--h2><br><br>VISNING<br><br></h2-->
        </div>
    </div>


</div>

