<div class="container-fluid background">
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <div class="card search-card">
                <div class="card-block">
                    <div class="input-group">
                        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control" placeholder="Sök efter område, stad eller adress" type="text" />
                        <span class="input-group-btn">
                            <button (click)="search(searchBox.value)" class="btn btn-secondary" type="button">Sök</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card search-card">
        <div class="card-block button-card">
            <div class="row">
                <!--PRIS -->
                <div class="offset-md-2 col-12 col-sm-4 col-md-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="dropdown dropdown-buttons">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Pris från</p>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#"><p>200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>5 000 000 kr </p></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="dropdown dropdown-buttons">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Pris till</p>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#"><p>200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>1 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>2 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>3 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 000 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 200 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 400 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 600 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>4 800 000 kr </p></a>
                                    <a class="dropdown-item" href="#"><p>5 000 000 kr </p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Rum -->
                <div class="col-12 col-sm-4 col-md-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="dropdown dropdown-buttons">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Min rum</p>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">1 rum</a>
                                    <a class="dropdown-item" href="#">2 rum</a>
                                    <a class="dropdown-item" href="#">3 rum</a>
                                    <a class="dropdown-item" href="#">4 rum</a>
                                    <a class="dropdown-item" href="#">5 rum</a>
                                    <a class="dropdown-item" href="#">6 rum</a>
                                    <a class="dropdown-item" href="#">7 rum</a>
                                    <a class="dropdown-item" href="#">8 rum</a>
                                    <a class="dropdown-item" href="#">9 rum</a>
                                    <a class="dropdown-item" href="#">10 rum</a>
                                    <a class="dropdown-item" href="#">12 rum</a>
                                    <a class="dropdown-item" href="#">13 rum</a>
                                    <a class="dropdown-item" href="#">14+ rum</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="dropdown dropdown-buttons">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Max rum</p>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">1 rum</a>
                                    <a class="dropdown-item" href="#">2 rum</a>
                                    <a class="dropdown-item" href="#">3 rum</a>
                                    <a class="dropdown-item" href="#">4 rum</a>
                                    <a class="dropdown-item" href="#">5 rum</a>
                                    <a class="dropdown-item" href="#">6 rum</a>
                                    <a class="dropdown-item" href="#">7 rum</a>
                                    <a class="dropdown-item" href="#">8 rum</a>
                                    <a class="dropdown-item" href="#">9 rum</a>
                                    <a class="dropdown-item" href="#">10 rum</a>
                                    <a class="dropdown-item" href="#">12 rum</a>
                                    <a class="dropdown-item" href="#">13 rum</a>
                                    <a class="dropdown-item" href="#">14+ rum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Boyta -->
                <div class="col-12 col-sm-4 col-md-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="dropdown dropdown-buttons">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Boyta från</p>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">10 kvm</a>
                                    <a class="dropdown-item" href="#">20 kvm</a>
                                    <a class="dropdown-item" href="#">30 kvm</a>
                                    <a class="dropdown-item" href="#">40 kvm</a>
                                    <a class="dropdown-item" href="#">50 kvm</a>
                                    <a class="dropdown-item" href="#">60 kvm</a>
                                    <a class="dropdown-item" href="#">70 kvm</a>
                                    <a class="dropdown-item" href="#">80 kvm</a>
                                    <a class="dropdown-item" href="#">90 kvm</a>
                                    <a class="dropdown-item" href="#">100 kvm</a>
                                    <a class="dropdown-item" href="#">110 kvm</a>
                                    <a class="dropdown-item" href="#">120 kvm</a>
                                    <a class="dropdown-item" href="#">130 kvm</a>
                                    <a class="dropdown-item" href="#">140 kvm</a>
                                    <a class="dropdown-item" href="#">150 kvm</a>
                                    <a class="dropdown-item" href="#">160 kvm</a>
                                    <a class="dropdown-item" href="#">170 kvm</a>
                                    <a class="dropdown-item" href="#">180 kvm</a>
                                    <a class="dropdown-item" href="#">190 kvm</a>
                                    <a class="dropdown-item" href="#">200 kvm</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="dropdown dropdown-buttons">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Boyta till</p>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">10 kvm</a>
                                    <a class="dropdown-item" href="#">20 kvm</a>
                                    <a class="dropdown-item" href="#">30 kvm</a>
                                    <a class="dropdown-item" href="#">40 kvm</a>
                                    <a class="dropdown-item" href="#">50 kvm</a>
                                    <a class="dropdown-item" href="#">60 kvm</a>
                                    <a class="dropdown-item" href="#">70 kvm</a>
                                    <a class="dropdown-item" href="#">80 kvm</a>
                                    <a class="dropdown-item" href="#">90 kvm</a>
                                    <a class="dropdown-item" href="#">100 kvm</a>
                                    <a class="dropdown-item" href="#">110 kvm</a>
                                    <a class="dropdown-item" href="#">120 kvm</a>
                                    <a class="dropdown-item" href="#">130 kvm</a>
                                    <a class="dropdown-item" href="#">140 kvm</a>
                                    <a class="dropdown-item" href="#">150 kvm</a>
                                    <a class="dropdown-item" href="#">160 kvm</a>
                                    <a class="dropdown-item" href="#">170 kvm</a>
                                    <a class="dropdown-item" href="#">180 kvm</a>
                                    <a class="dropdown-item" href="#">190 kvm</a>
                                    <a class="dropdown-item" href="#">200 kvm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
