<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row text-center align-items-center">

        <div class="col-12">
            <h2>Vi kontaktar dig!</h2>
        </div>

        <div class="col-1"></div>
        <div class="col-4">
            <h4>Lämna telefonnummer</h4>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Telefonnummer">
                    <small id="emailHelp" class="form-text text-muted">Våra mäklare kontaktar dig.</small>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <h4>Lämna mailadress</h4>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Telefonnummer">
                    <small id="emailHelp" class="form-text text-muted">Våra mäklare kontaktar dig.</small>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

