<div class="jumbotron jumbotron-fluid bg-light-grey">
  <div class="container bg-trans">
    <div class="row text-center">
        <div class="col-12">
            <h2>Vi kontaktar dig!</h2>
        </div>
    </div>
    <div class="row vertical-spacer-50"></div>
    <div class="row" *ngIf="!sent">
        <div class="col-1"></div>

        <div class="col-md-4">
            <h4>Lämna telefonnummer</h4>

                <div class="form-group">
                    <input type="tel" class="form-control" id="contactFormPhone" name="exampleInputTelefonnummer" aria-describedby="emailHelp" placeholder="Telefonnummer" [(ngModel)]="phoneNumber">
                     
                </div>
                <button class="btn btn-default"(click)="registerPhone()"><p class="open-sans">Kontakta mig!</p></button>
            
        </div>
        <div class="col-2"></div>
        <div class="hidden-md-up vertical-spacer-32"></div>
        <div class="col-md-4">
            <h4>Lämna mailadress</h4>

                <div class="form-group">
                    <input type="email" class="form-control " id="contactFormEmail" name="exampleInputEmail1" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Email">
               
                </div>
                <button class="btn btn-default" (click)="registerMail()"><p class="open-sans">Kontakta mig!</p></button>
            
        </div>
    </div>
    <div class="row" *ngIf="sent">
        <div class="col-lg-9">
            <div class="card bg-trans p-white">
                <div class="card-block">
                    <h4 class="card-title">Tack för att du kontaktar oss!</h4>
                    <p class="card-text open-sans">Vi återkommer så snart som möjligt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row article">
        <div class="col-md-6">
        <img src="images/nordic-2.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 text-content">
            <h2>Vill du ha bra betalt?</h2>
            <p>Vi vet hur mycket din bostad har stigit i värde, vi känner omgivningarna och vi har köparna som vill bo i ert område. Det är vår kunskap som gör oss till en fastighetsmäklare att räkna med och framförallt, till en trygg och erfaren samarbetspartner när du ska sälja din bostad i Skåne. Boka en fri värdering med en av våra erfarna och kunniga mäklare så får du dessutom 2 biobiljetter. Låter det intressant? Kontakta oss redan idag!</p>
            <p>Vi på Dhyr &amp; Rumson tror inte på trolleritrick eller hokus pokus.För att du ska få rätt pris för din bostad gäller det att vi genomför hela affären med omsorg om varje moment.</p>
            <p>I grunden handlar det om ett systematiskt och genomtänkt arbete, där vi strävar efter att, så långt det går, komma bort från slumpmässiga resultat.</p>
            <p>Kunskap om bostadsförsäljning är lönsam.</p>
        </div>
    </div>
    <div class="row article">
        <div class="col-md-6">
        <img src="images/nordic-3.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 text-content">
            <h2>Vi kan bostadsförsäljning!</h2>
            <p>Bostadsmarknaden går upp och ner, det känner vi alla till. För att garantera att du som säljare gör en så bra affär som möjligt, oavsett konjunkturer och trender, är vi på Bülow & Lind experter på bostadsförsäljning.</p>
            <p>Vår erfarenhet, kompletterad av våra noggrant utvalda samarbetspartners, skapar bästa möjliga förutsättningar för försäljningen av just din villa, bostadsrätt eller fritidshus.</p>
            <p>För även om vi inte kan trolla, så kan vi lova en genomtänkt och gedigen arbetsinsats.</p>
            <p>Läs mer om vad som är bra att tänka på när du ska sälja din bostad. Ladda ner vår folder om bostadsförsäljning här.</p>
        </div>
    </div>
</div>

