<div class="jumbotron jumbotron-fluid bg-light-grey">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2>Vill du köpa eller sälja bostad?</h2>
        </div>
    </div>
    <div class="row vertical-spacer-100"></div>
    <div class="row justify-content-center">
        <a routerLink="/buy"><button class="btn btn-secondary"><h4>Köpa</h4></button></a>
        <a routerLink="/sell"><button class="btn btn-secondary"><h4>Sälja</h4></button></a>
    </div>
  </div>
</div>