<div class="jumbotron jumbotron-fluid bg-light-grey">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2>Vill du köpa eller sälja bostad?</h2>
        </div>
    </div>
    <div class="row vertical-spacer-50"></div>
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-4">
            <button class="btn btn-default"><h4>Köpa</h4></button>
        </div>
        <div class="col-4">
            <button class="btn btn-default"><h4>Sälja</h4></button>
        </div>
    </div>
  </div>
</div>